*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}    
a {
    color: white;
    text-decoration: none;
    text-align: center;
}
.logo {
    display: inline-block;
    margin-left: 100px;
    margin-top: 40px;
}
nav {
    display: inline-block;
    margin-left: 500px;
    vertical-align: middle;
    margin-top: -100px;
    
}
.list li {
    display: inline-block;
    margin-left: 30px;
}
.wrapper {
    width: 100%;
    background-color: blue;
    position: fixed;
    height: 150px;
    z-index: 1;
}
.building2 {
    display: inline-block;
    margin-left:180px;
}
.building-picture2 {
    height: 350;
    width: 400px;
    vertical-align: 70px;
    box-shadow: 40px 40px 1000px #d1d5f1;
}
.building1 {
    display: inline-block;
    margin-left: 25px;
    margin-top: 100px;
}
.building-picture1 {
    width: 600px;
    height: 500px;
    margin-top: 100px;
    box-shadow: 50px 50px 1000px #d1d5f1;
}
button {
    width: 100px;
    border-radius: 10px;
    Cursor:pointer
}

.page {
    background-color: blue;
    height: 900px;
    width: 100%;
}
.leftside {
    display: inline-block;
    margin-left: 200px;
    margin-right: 1050px;
    margin-top: 100px;
}
.rightside {
    display: inline-block;
    margin-left: 700px;
    margin-right: 850px;
    margin-top: -200px;
    box-shadow: 100px 100px 200px;
    color: #4e5ff7 ;
}

.firsttext {
    font-family: 'HelveticaNeue';
    font-size: 16px;
    margin-top: 30px;
    width: 463px;
}
.secondtext {
    font-family: 'HelveticaNeue';
    font-size: 16px;
    margin-top: 10px;
    width: 463px;
}
.building {
    filter: drop-shadow(10px 10px 1px);
    color: #0A22F4;
}
.third-section .container {
    background-color: #FFFFFF;
    width: 100%;
    height: 500px;
    margin-top: 250px;
}
.third-section .photo-wrapper {
    background-color: #0A22F4;
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 200px;
    margin-left: 240px;
    border-radius: 15px;
    box-shadow: -60px 60px 30px #d1d5f1;
    display: inline-block;
}
.third-section .building-image {
    position: absolute;
    width: 400px;
    height: 400px;
    top: -5px;
    right: -5px;
}
.third-section .services-wrapper {
    display: inline-block;
    margin-left: 138px;
    vertical-align: top;
}
.third-section .services-wrapper h3 {
    font-family: 'HelveticaNeue';
    font-weight: bold;
    color: #171717;
    font-size: 32px;
}
.third-section .services-wrapper p {
    font-family: 'HelveticaNeue';
    width: 463px;
    letter-spacing: 0px;
    color: #171717;
    margin-top: 60px;
    font-size: 16px;
}
.fourth-section .projects-head{
    margin-top: 340px;
    width: 100%;
    height: 200px;
    background-color: #0A22F4;
}
.fourth-section .projects-head h3 {
    padding: 70px 240px;
    color: #FFFFFF;
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
}
.fourth-section .first-project-img, .second-project-img, .third-project-img, .fourth-project-img {
    width: 240px;
    height: 220px;
    position: absolute;
}
.fourth-section .first-project-wrapper, .second-project-wrapper, .third-project-wrapper, .fourth-project-wrapper {
    width: 240px;
    height: 220px;
    position: relative;
    display: inline-block;
}
.fourth-section .first-project-wrapper {
    margin-left: 180px;
}
.fourth-section .second-project-wrapper, .third-project-wrapper, .fourth-project-wrapper {
    margin-left: 25px;
}
.fourth-section .second-project-img {
    top: -90px;
}
.fourth-section .first-project-img, .third-project-img, .fourth-project-img {
    top: -40px;
    box-shadow: -10px 10px 50px #cacde6;
}
.fourth-section .first-project-text, .second-project-text, .third-project-text, .fourth-project-text {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 12px;
    opacity: 0.90;
}
.fourth-section .first-project-text, .third-project-text, .fourth-project-text {
    bottom: 50px;
    left: 20px;
}
.fourth-section .second-project-text {
    left: 20px;
    bottom: 120px;
}
.fourth-section .first-project-text p, .second-project-text p, .third-project-text p, .fourth-project-text p {
    font-size: 11px;
    font-family: 'HelveticaNeue';
    color: #171717;
    width: 200px;
    font-weight: bold;
    padding: 10px 10px;
    text-align: center;
}
.fourth-section h4 {
    margin-left: 70%;
    color: #171717;
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 18px;
}
.fourth-section h4:before{
    content:"";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 22px;
    background-color: #171717;
    border-radius: 2px;
    margin-right: 20px;

}
.fifth-section .partners-text {
    margin-top: 300px;
    margin-left: 180px;
    display: inline-block;
}
.fifth-section .partners-text h3 {
    font-size: 32px;
    color: #171717;
    font-style: 'HelveticaNeue';
}
.fifth-section .partners-text p {
    font-size: 16px;
    color: #171717;
    width: 463px;
    margin-top: 60px;
}
.fifth-section .partners-text span {
    color: #0A22F4;
}
.fifth-section .partners-logos-wrapper {
    display: inline-block;
    vertical-align: -130px;
    margin-left: 80px;
}
.fifth-section .partner-logo {
    display: inline-block;
    margin-left: 25px;
}
.fifth-section .partner-logo img {
    width: 150px;
    height: 50px;
}
.fifth-section .logos-secondline, .logos-thirdline {
    margin-top: 25px;
}
.sixth-section .block {
    background-color: #0a22f4;
    display: inline-block;
    width: 100%;
    height: 900px;
    margin-top: 50px;
}
.sixth-section .contacts-block h3 {
    font-size: 32px;
    color: #ffffff;
}
.sixth-section .contacts-paragraph {
    margin-top: 30px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    width: 463px;
}
.sixth-section .map-wrapper {
    background-color: #FFFFFF;
    width: 463px;
    height: 197px;
    border-radius: 16px;
    margin-top: 58px;
    position: relative;
    box-shadow: -20px 20px 40px #bdc1e4;
}
.sixth-section .map-image {
    width: 463px;
    height: 197px;
    border-radius: 16px;
    position: absolute;
    top: -6px;
    right: -6px;
}
.sixth-section .phone-number-paragraph, .email-adress-paragraph {
    color: #ffffff;
    font-size: 22px;
    display: inline-block;
    margin-left: 20px;
}
.sixth-section .mail-logo, .phone-logo {
    width: 26px;
    height: 26px;
    display: inline-block;
}
.sixth-section .phone-block, .email-block {
    display: inline-block;
    margin-top: 82px;
}
.sixth-section .contacts-block {
    display: inline-block;
    margin-left: 100px;
    margin-top: 150px;
}
.sixth-section  .email-block {
    margin-left: 98px;
}
.sixth-section  .form {
    margin-left: 10%;
    display: inline-block;
    position: absolute;
    margin-top: 160px;
}
.sixth-section input {
    background-color: #0a22f4;
    width: 463px;
    height: 60px;
    margin-top: 40px;
    border: none;
    border-bottom: groove;
    border-width: 1px;
}
::placeholder {
    color: #ffffff;
    font-size: 16px;
}
.sixth-section .send-button {
    margin-top: 40px;
    border: none;
    height: 55px;
    width: 151px;
    margin-left: 310px;
    border-radius: 32px;
}
.sixth-section .footer-paragraph {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
}
.sixth-section .footer-left-block {
    margin-left: 240px;
    margin-top: 100px;
}
.sixth-section .footer-right-block {
    margin-left: 950px;
}